doctype html5
html(lang="es")
	head
		title MI primer ejemplo
		meta(charset="utf-8")
		meta(name="viewport", content="width-device-width")
	body
		h1 Mi prueba de "Ordenador de serie"
		p
			a(href="inicio.hmtl" class="btn") Ingresar
