body
	background #3B4451
	color #fff
	font-family 'Roboto Condensed'

h1
	text-align center
	margin 50px 0 45px
p
	color #eee
	font-size 15px
ul, li
	margin 0px
	padding 0px
	list-style none

btn.
	font-family 'Roboto Condensed'
/*Name*/
header
	.name
		font-size 12px
		float right
		margin 15px 0
footer
	position fixed
	bottom 0px
	width 100%
	display inline-block
	p
		font-size 11px
		text-align center
		width 100%
		display inline-block


/*Ingresar números*/
.options
	margin 25px 0 15px 0

form
	width 50%
	display block
	text-align content ''
	margin 20px auto
	.btn-success
		width 100%

.numeros
	width 80%
	margin 20px auto
	display block
	ul
		li
			border 1px solid #f0ad4e
			text-align center
			width 80px
			height 70px
			float left
			font-size 28px
			font-weight bold
			padding-top 13px
			margin-right 10px



@media (max-width:767px)
	form
		width 100%

